{% extends 'customer/base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}
<section class="cards">
    <div class="card">
        <div class="head">Total Order</div>
        <div class="data">{{ total }}</div>
    </div>
    <div class="card">
        <div class="head">Orders Delivered</div>
        <div class="data">{{ delivered }}</div>
    </div>
    <div class="card">
        <div class="head">Orders Pending</div>
        <div class="data">{{ pending }}</div>
    </div>
</section>
<section class="products">
    <div class="product">
        <div class="head"><a href="">Create Order</a></div>
    <div class="row">
        <span class="cell b">product</span>
        <span class="cell b">category</span>
        <span class="cell b">date created</span>
        <span class="cell b">status</span>
        <span class="cell b">tag</span>
        <span class="cell b">price</span>
    </div>
    {% for order in orders %}
    <div class="row">
        <span class="cell">{{ order.product }}</span>
        <span class="cell">{{ order.product.category }}</span>
        <span class="cell">{{ order.date_created }}</span>
        <span class="cell">{{ order.status }}</span>
        <span class="cell">{% for item in order.product.tag.all %}
            {{ item }}<br>
            {% endfor %}
        </span>
        <span class="cell">{{ order.product.price }}</span>
    </div>
    {% endfor %}
    
    </div>
</section>
{% endblock %}